.git
.github
data
**/__pycache__
**/*.py[cod]
.venv
venv
.mypy_cache
.ruff_cache
.pytest_cache
.hypothesis
htmlcov
.coverage*
.env
.env.local
docker-compose.override.yml
*.egg-info
docs/_build
ui/node_modules
ui/dist
